<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <%= category.created_at.to_s(:long) %>
  </td>
  <td>
    <%= category.updated_at.to_s(:long) %>
  </td>
  <td>
    <%= category.products.count %>
  </td>
</tr> 